<script type="text/javascript" src="Editor/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="Editor/tiny_mce/tiny.js"></script>
<script type="text/javascript" src="js/article.js"></script>
<link rel="stylesheet" type="text/css" href="css/article.css"/>

<form action="modules/includes/article.php" method="post">
<table id="new_article_tbl" dir="rtl" width="100%">
   <tr bgcolor="#C6D0D3" height="30px;">
    <td><label>عنوان مطللب :</label> <input id="txt_title" name="title" type="text" /></td>
         <td><label>نام بخش :</label> <select id="op_section" name="section"> 
                                        <option> </option>
                                        <!-- BEGIN BLOCK OPTION -->
                                        <option value="{ID}">{SECTION}</option>
                                        <!-- END BLOCK OPTION -->
                                                                                   
                                     </select> 
       </td>
   </tr>
   </table>
   
   
  <div  style="margin-top:5px; margin-bottom:10px;" >
       <textarea id="fulltext" name="fulltext" style="width:900px; height:300px;"></textarea>
  </div>
  
   <div id="td_summary" style=" margin-bottom:10px; display:none;">
          <img id="close_summary" src="images/close.png" style="z-index:999999; position:absolute"  width="25"/>
        <textarea id="summary" name="summary" style="width:900px; height:300px;"></textarea> 
    </div> 
    
<table id="new_article_tbl" dir="rtl" width="100%"> 
   <tr bgcolor="#C6D0D3">
      <td > <!-- <input value="درج عکس"  type="button" class="showimage" /> -->
           <input  id="article_btn" class="btn_summary"type="button" value="ادامه مطلب"/>
           <input id="article_btn"  class="in" type="submit" value="ذخیره"/>
      </td>
   </tr>
</table>

</form>