<link href="css/user.css" rel="stylesheet" />
<script src="js/user.js" language="javascript"></script>
<div id="maindiv">
<div id="header"><label>ایجاد کاربر جدید</label></div>
 <div id="mess"></div>
       <table dir="rtl" width="400px" border="0" >
         <tr>
            <td align="left" width="100px">نام کاربری :</td>
            <td ><input id="name" type="text" name="NewName" /></td>
         </tr>
         <tr>
           <td align="left" >کلمه عبور :</td><td ><input type="password" name="NewPass" id="NewPass"/></td>
           </tr>
           <tr>
           <td align="left"  width="115px">تکرار کلمه عبور :</td><td><input type="password" name="NewRPass" id="NewRPass"/></td>
         </tr>
         <tr>
            <td align="left" >ایمیل :</td><td ><input type="text" id="NewEmail" name="NewEmail" /></td>
          </tr>
          <tr>
            <td align="left" >آواتار :</td><td ><select id="image"><option></option> <!-- BEGIN BLOCK AVATAR --> <option>{IMAGE}</option><!-- END BLOCK AVATAR --></select></td>
          </tr>
          <tr>
          	  <td colspan="2"><input type="button" id="insert" value="ذخیره"/></td>
          </tr> 
     </table>


</div>