@charset "utf-8";
/* CSS Document */
.TblGallery{
	border:1px solid #CCC;
	margin-top:2px;
	}
	
#TblSection{
	border:1px solid #CCC;
	}
#ListAlbum{
	border:1px solid #CCC;
	margin:5px 5px 5px 5px;
	float:right;
	width:150px !important;
    background-color:#FFF;
    border-radius:5px;
    box-shadow:#999 0 0 5px;
	}
#GalleryImg{
	width:150px;
	margin:4px;
	float:right;
	border:1px solid #CCC;
	}	
#txtadd{width:200px;}
.section{width:100px;}
.text{border:1px solid #CCC;
border-radius:5px;}
.OptionA{
	font-size:12px;}
.LiImg{
	 border:1px solid grey; 
	 background-color:#FFF;
	 max-height:180px;
	 max-width:210px;}
 .Gpic{
	   max-width:150px; }
.EditImg{border-top:1px solid grey;}
.EditImg a{ margin-left:10px}
.ImgTitle{
	background-color:#F90; 
	text-align:center;
	 border-bottom:1px solid #6F0;
	 overflow:hidden;
	  height:20px
	 }

input{
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif,Tahoma,Verdana,Georgia,Times;
	font-size:14px;
	font-weight:bold;
	}
.count{
	height:26px;
	width:900px;
	background:#F90;

	border-radius:5px;
	padding-top:2px;
	}
.acount{
	float:right;
	margin:3px 3px 3px 3px;
	border:1px solid #999;
	min-width:13px;
	text-align:center;
	border-radius:5px;
	background-color:#3CF;
}
.acount:hover{
	background-color:#09F;
}
.AlbumSection{
	text-align:center;
	overflow:hidden;
	background-color:#0CF;
	border-radius:5px 5px 0 0 ;
	}
.Control{
	background-color:#3CF;
	border-radius: 0 0 5px 5px;
	}	
.Control img{
	margin-left:10px;
	}
.Del, .GDel,.Edit{
	cursor:pointer;
	}		