body{
	width:100%;
	height:100%;
	padding:0;margin:0;
	font-family:Tahoma, Geneva, sans-serif, Arial, serif;
	font-size:16px;
	position:relative;
	background:url(../images/bg-pattern-4.png);
	}
a { text-decoration:none }
.slide{
	display:none;
	}
.DivMain{
	direction:rtl;
	width:279px;
	height:200px;
    margin:-13px auto 0 auto;
	background:url(../images/login-box-bg.png) #FFF;
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
	}
.DivHeader{
	height:30px;
	width:390px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/header-login.png);
	margin-bottom:-2px;
	border-radius:0 0 15px 15px;
	font-size:10px;
	color:#BBB;
	padding:5px 0 0 20px;
	}	
.DivLoginHeader{
	margin:auto;
	width:420px;
	height:14px;
	background: url(../images/login-shadow.png) ;
}
.DivFooter{
	margin:auto;
	width:350px;
	height:10px;
	background:url(../images/login-box-footer.png) no-repeat;;
	}
.DivFooter img{
	margin-left:128px;
	margin-top:-10px;
	}	
label{
	margin-right:20px;}

#UserName{
	width:235px;
	height:35px;
	margin:10px 8px 0 auto;
	border:1px solid #CCC;
    border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	background:#FFF url(../images/User.png) no-repeat ;
	background-position:240px;
	padding-right:25px;
	}
#UserPass{
	width:235px;
	height:35px;
	margin:0 8px 0 auto;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-top:0;
    border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	background: #FFF url(../images/key.png) no-repeat;
	background-position:240px;
	padding-right:25px;
	}
.LoginHeader{
	border-bottom:1px dashed #CCC;
	height:30px;
	padding-right:20px;
	padding-top:10px;
	text-shadow:#099 0px 0px 7px ;
	background:url(../images/login-sprite.png) no-repeat right;
	}	
#btn{
	float:left;
	margin-left:37px;
	margin-top:10px;
	width:204px;
	height:51px;
	background:transparent;
	background-image:url(../images/btn.png);
	border:0px solid transparent;
	cursor:pointer;
		}
#btn:hover{
	background-image:url(../images/btn-hover.png);}
#dialog{
	text-align:center;
	margin:20px auto 0 auto;
	border-radius:10px;
	height:30px;
	width:300px;
	line-height:24px;
	box-shadow:#000 0 0 8px;
	display:none;
	}
.check{
	margin:10px 0 0 0;
	float:right;
	margin-right:10px;}				
