<link rel="stylesheet" type="text/css" href="css/gallery.css"/>
 <form action="modules/includes/gallery.php" method="post">
<table id="TblSection" width="100%" dir="rtl">
   <tr>
      <td width="110px">نام بخش :</td>
      <td width="200px"><input id="name" class="text" name="name" type="text" /></td>
      <td></td>
   </tr>
   <tr>
      <td>عکس آلبوم :</td>
      <td><input id="name" class="text" name="AlbumCover" type="text" /></td>
      <td><input class="text" type="submit" value="ذخیره"/></td>
   </tr>
</table>
</form> 