<link rel="stylesheet" type="text/css" href="css/statistics.css"/>
<fieldset>
  <div class="HeSt"><label>آمار وبلاگ</label></div>
  <div class="amar">
      <div class="InAmar">
         <div class="cont">{section}</div>
      </div>
       <div class="lb">بخش ها</div>
  </div>
  
    <div class="amar">
      <div class="InAmar">
         <div class="cont">{ARTICLE}</div>
      </div>
       <div class="lb">مطالب</div>
  </div>
  
    <div class="amar">
      <div class="InAmar">
         <div class="cont">{ARCHIVE}</div>
      </div>
       <div class="lb">آرشیو</div>
  </div>
  
    <div class="amar">
      <div class="InAmar">
         <div class="cont">{DELETE}</div>
      </div>
       <div class="lb">سطل زباله</div>
  </div>

  <div style="clear:both"></div>   
</fieldset>